@import "tailwindcss";
@plugin "daisyui";

body {
    font-family: "Nunito Sans", sans-serif;
}

.navbar ul a.active {
    @apply text-blue-500;
}

.drawer-side ul a.active {
    @apply bg-blue-100
}

.drawer-side ul a.active span {
    @apply text-blue-500;
}

.drawer-side ul a span {
    @apply hover:text-blue-500
}